{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between px-2">
		<a class="navbar-brand" href="#">About</a>

			{% if app.user %}
				<span>
					Vous êtes connecté avec le compte {{ app.user.username }}
				</span>
				<a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Déconnexion</a>
			{% else %}
				<span>
					Vous n'êtes pas connecté
				</span>
				<a href="{{ path('app_login') }}" class="btn btn-outline-primary">Connexion</a>
			{% endif %}
		
	</nav>
{% endblock %}
