{% block header %}
	<div class="row navbar">
		

		<div class="row d-flex justify-content-end">
			<span class="mx-4">
				{% if app.user %}

					<p>vous etes connecté avec le compte
						{{ app.user.username }}</p>
					<a href="{{ path('app_logout') }}">Déconnexion</a>

				{% else %}
					<p>vous n'etes pas connecté !
					</p>
					<a href="{{ path('app_login') }}">Connexion</a>

				{% endif %}
			</span>

		
	</div>


</div>{% endblock %}
