{% extends 'base.html.twig' %}

{% block title %}
	Ajoutez des Documents Supplémentaires à un produit
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-8">
			{{ form(form) }}
			
		</div>
	</div>
{% endblock %}
